@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

body {
  @apply bg-light_background font-sans text-light_text_primary dark:bg-background dark:text-text-primary;
}

.cl-internal-h1ijb9 {
  width: revert;
}

.cl-internal-ve57xi {
  width: unset;
}

.cl-internal-phfxlr {
  width: unset;
}

.cl-internal-17dpwu0 {
  width: revert;
}

html {
  scroll-padding-top: 5rem;
}
